In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.insert(0,'../')
from jupyter_text2code.jupyter_text2code_serverextension import CodeGenerator

********************
********************
loading_jupyter_server_extension: jupyter-text2code. First install will download universal-sentence-encoder, please wait...
********************
********************

In [3]:
cg = CodeGenerator()

### Intent 1 : import x

In [4]:
cg.generate_code("import spacy")

'import spacy'

In [5]:
cg.generate_code("import pandas")

'import pandas'

### Intent2:  import all libs

In [6]:
print(cg.generate_code("import all libraries"))

import pandas as pd
import numpy as np
import os
import plotly.express as px
import matplotlib.pyplot as plt
pd.options.plotting.backend = 'plotly'

### Intent3: install lib

In [7]:
cg.generate_code("install matplotlib")

'!pip install matplotlib'

In [8]:
cg.generate_code("install scikitlearn")

'!pip install scikitlearn'

### Intent4: Load file into df

In [9]:
cg.generate_code("load train.csv")

"xxx = pd.read_csv('train.csv')"

In [10]:
cg.generate_code("load train.csv in zzzz", debug=True)

Intent: Load file into a dataframe  Intent_id: 2  Similarity 0.88224137
Entities:
train.csv 5 14 FNAME
zzzz 18 22 VARNAME
----------

"zzzz = pd.read_csv('train.csv')"

### Intent5: Show x rows from df

In [11]:
cg.generate_code("Show from df", debug=True)

Intent: Show x rows from df  Intent_id: 3  Similarity 0.7455359
Entities:
df 10 12 VARNAME
----------

'df.head()'

In [12]:
cg.generate_code("Show alldf")

"#Couldn't extract variable name, replacing with default\nxxx.head()"

In [13]:
cg.generate_code("Show 5 rows from df", debug=True)

Intent: Show x rows from df  Intent_id: 3  Similarity 1.0
Entities:
5 5 6 CARDINAL
df 17 19 VARNAME
----------

'df.head(5)'

In [14]:
cg.generate_code("Show 20 rows of df")

'df.head(20)'

### Intent6: List columns of df

In [15]:
cg.generate_code("list all columns of mydf")

'mydf.columns'

### Intent7: Describe the df

In [16]:
cg.generate_code("Describe df")

'df.describe()'

In [17]:
cg.generate_code("Describe mydf")

'mydf.describe()'

### Intent8: Plot histogram of column

In [18]:
cg.generate_code("Plot histogram of rainfall column in df", debug=True)

Intent: histogram of column  Intent_id: 4  Similarity 0.9223975
Entities:
rainfall 18 26 COLNAME
df 37 39 VARNAME
----------

'df.plot.hist(x=["rainfall"])'

In [19]:
cg.generate_code("Plot histogram of xzcx column in df", debug=True)

Intent: histogram of column  Intent_id: 4  Similarity 0.9799768
Entities:
xzcx 18 22 COLNAME
df 33 35 VARNAME
----------

'df.plot.hist(x=["xzcx"])'

In [20]:
cg.generate_code("Plot histogram of age in df", debug=True)

Intent: histogram of column  Intent_id: 4  Similarity 0.91642696
Entities:
age 18 21 VARNAME
df 25 27 VARNAME
----------
Error:  Didn't detect the column name

'#Couldn\'t extract column names, replacing with default\nage.plot.hist(x=["xxx", "yyy"])'

In [21]:
cg.generate_code("Plot histogram of dailyWage column in df", debug=True)

Intent: histogram of column  Intent_id: 4  Similarity 0.98263717
Entities:
dailywage 18 27 COLNAME
df 38 40 VARNAME
----------

'df.plot.hist(x=["dailywage"])'

### Intent9: Get correlation matrix

In [22]:
cg.generate_code("Get correlation matrix of df")

'df.corr()'

### Intent10: Print shape of df

In [23]:
cg.generate_code("Print shape of df")

'df.shape'

In [24]:
cg.generate_code("Print shape of zz")

'zz.shape'

### Intent11: Barplot two columns

In [25]:
cg.generate_code("Bar plot duration and age from df", debug=True)

Intent: Bar of column1 and column2 from df  Intent_id: 7  Similarity 0.7900896
Entities:
duration 9 17 COLNAME
age 22 25 COLNAME
df 31 33 VARNAME
----------

"px.bar(x='duration',y='age',data_frame=df,title='CustomTitle', labels={'duration':'duration','age':'age'})"

In [26]:
cg.generate_code("Bar plot age and temperature columns from df", debug=True)

Intent: Bar of column1 and column2 from df  Intent_id: 7  Similarity 0.8381791
Entities:
age 9 12 COLNAME
temperature 17 28 COLNAME
df 42 44 VARNAME
----------

"px.bar(x='age',y='temperature',data_frame=df,title='CustomTitle', labels={'age':'age','temperature':'temperature'})"

In [27]:
cg.generate_code("Bar plot temperature and humidity columns of df", debug=True)

Intent: Bar of column1 and column2 from df  Intent_id: 7  Similarity 0.8020855
Entities:
temperature 9 20 COLNAME
humidity 25 33 COLNAME
df 45 47 VARNAME
----------

"px.bar(x='temperature',y='humidity',data_frame=df,title='CustomTitle', labels={'temperature':'temperature','humidity':'humidity'})"

In [28]:
cg.generate_code("show a bar plot with numItems on x axis and purchaseMonth on y axis in df", debug=True)

Intent: Bar of column1 and column2 from df  Intent_id: 7  Similarity 0.9778261
Entities:
numitems 21 29 COLNAME
purchasemonth 44 57 COLNAME
df 71 73 VARNAME
----------

"px.bar(x='numitems',y='purchasemonth',data_frame=df,title='CustomTitle', labels={'numitems':'numitems','purchasemonth':'purchasemonth'})"

### Intent12: Pie chart of a column in df

In [29]:
cg.generate_code("piechart of age column in df grouped by gender column", debug=True)

Intent: Pie chart of column in   Intent_id: 8  Similarity 0.8810677
Entities:
age 12 15 COLNAME
df 26 28 VARNAME
gender 40 46 COLNAME
----------

"tmp = df['age'].value_counts(dropna=False)\npx.pie(tmp,values=tmp.values,names=tmp.index,title='CustomTitle')"

### Intent13: Group df

In [38]:
cg.generate_code("Group the df by gender and get average of age", debug=True)

Intent: group the df by column1 and get average of column2  Intent_id: 12  Similarity 0.7937273
Entities:
df 10 12 VARNAME
gender 16 22 COLNAME
average 31 38 FUNCTION
age 42 45 VARNAME
----------
Use mean for synonym average

"df.groupby(['gender']).agg(['mean'])"

In [31]:
cg.generate_code("Group df by gender and get mean of age", debug=True)

Intent: group the df by column1 and get average of column2  Intent_id: 12  Similarity 0.79380095
Entities:
df 6 8 VARNAME
gender 12 18 COLNAME
mean 27 31 FUNCTION
age 35 38 VARNAME
----------

"df.groupby(['gender']).agg(['mean'])"

In [32]:
cg.generate_code("Group df by gender and get mean and sum of age", debug=True)

Intent: group the df by column1 and get average of column2  Intent_id: 12  Similarity 0.77789533
Entities:
df 6 8 VARNAME
gender 12 18 COLNAME
mean 27 31 FUNCTION
sum 36 39 FUNCTION
age 43 46 VARNAME
----------

"df.groupby(['gender']).agg(['mean','sum'])"

In [33]:
cg.generate_code("Group df by gender and get average, sum of age", debug=True)

Intent: group the df by column1 and get average of column2  Intent_id: 12  Similarity 0.7954531
Entities:
df 6 8 VARNAME
gender 12 18 COLNAME
average 27 34 FUNCTION
sum 36 39 FUNCTION
age 43 46 VARNAME
----------
Use mean for synonym average

"df.groupby(['gender']).agg(['mean','sum'])"

In [39]:
cg.generate_code("Group df by ozxc, zxc and get min, max, sum of corr", debug=True)

Intent: group the df by column1 and get average of column2  Intent_id: 12  Similarity 0.81393397
Entities:
df 6 8 VARNAME
ozxc 12 16 COLNAME
zxc 18 21 COLNAME
min 30 33 FUNCTION
max 35 38 FUNCTION
sum 40 43 FUNCTION
corr 47 51 COLNAME
----------

"df[['ozxc','zxc','corr']].groupby(['ozxc','zxc']).agg(['min','max','sum'])"

In [35]:
cg.generate_code("Group the df by gender and get average age", debug=True)

Intent: group the df by column1 and get average of column2  Intent_id: 12  Similarity 0.6917082
Entities:
df 10 12 VARNAME
gender 16 22 COLNAME
average 31 38 FUNCTION
age 39 42 FUNCTION
----------
Use mean for synonym average

"df.groupby(['gender']).agg(['mean','age'])"

### Random

In [31]:
cg.generate_code("install plotly", debug=True)

Intent: install lib  Intent_id: 9  Similarity 0.99999994
Entities:
plotly 8 14 LIBNAME
----------

'!pip install plotly'

In [32]:
cg.generate_code("plot pie chart of heroes_gender in df", debug=True)

Intent: Pie chart of column in   Intent_id: 8  Similarity 0.8031008
Entities:
heroes_gender 18 31 COLNAME
df 35 37 VARNAME
----------

"tmp = df['heroes_gender'].value_counts(dropna=False)\npx.pie(tmp,values=tmp.values,names=tmp.index,title='CustomTitle')"

In [33]:
cg.generate_code("plot histogram of heroes_gender and youtube_views columns of df", debug=True)

Intent: histogram of column  Intent_id: 4  Similarity 0.8690444
Entities:
heroes_gender 18 31 COLNAME
youtube_views 36 49 COLNAME
df 61 63 VARNAME
----------

'df.plot.hist(x=["heroes_gender", "youtube_views"])'

In [34]:
cg.generate_code("plot histogram of heroes_gendes and zxc columns of df", debug=True)

Intent: histogram of column  Intent_id: 4  Similarity 0.8805045
Entities:
heroes_gendes 18 31 COLNAME
zxc 36 39 COLNAME
df 51 53 VARNAME
----------

'df.plot.hist(x=["heroes_gendes", "zxc"])'

In [35]:
cg.generate_code("line plot release_date and youtube_avg_watch_duration of df", debug=True)

Intent: line chart of column1 and column2 of df  Intent_id: 13  Similarity 0.88551736
Entities:
release_date 10 22 COLNAME
youtube_avg_watch_duration 27 53 COLNAME
df 57 59 VARNAME
----------

"df.plot.line(x='release_date', y='youtube_avg_watch_duration', color=None, title='CustomTitle', labels={'release_date':'release_date', 'youtube_avg_watch_duration':'youtube_avg_watch_duration'})"

In [36]:
cg.generate_code("scatter plot of spotify_streams and youtube_views of df", debug=True)

Intent: scatter plot of column1 and column2 of df  Intent_id: 14  Similarity 0.90176094
Entities:
spotify_streams 16 31 COLNAME
youtube_views 36 49 COLNAME
df 53 55 VARNAME
----------

"df.plot.scatter(x='spotify_streams', y='youtube_views', color=None, size=None, title='CustomTitle', labels={'spotify_streams':'spotify_streams', 'youtube_views':'youtube_views'})"

In [37]:
cg.generate_code("plot line plot of release_date & youtube_avg_watch_duration of df", debug=True)

Intent: Bar of column1 and column2 from df  Intent_id: 7  Similarity 0.84774184
Entities:
release_date 18 30 COLNAME
df 63 65 VARNAME
----------
Error:  Didn't detect the column name

"#Couldn't extract column names, replacing with default\npx.bar(x='xxx',y='yyy',data_frame=df,title='CustomTitle', labels={'xxx':'xxx','yyy':'yyy'})"

In [6]:
cg.generate_code("line plot of release_date & youtube_avg_watch_duration of df", debug=True)

Intent: line chart of column1 and column2 of df  Intent_id: 13  Similarity 0.83657575
Entities:
release_date 13 25 COLNAME
df 58 60 VARNAME
----------
Error:  Didn't detect the column name

"#Couldn't extract column names, replacing with default\ndf.plot.line(x='xxx', y='yyy', color=None, title='CustomTitle', labels={'xxx':'xxx', 'yyy':'yyy'})"

In [7]:
cg.generate_code("show a line plot of release_date & youtube_avg_watch_duration of df", debug=True)

Intent: line chart of column1 and column2 of df  Intent_id: 13  Similarity 0.84694755
Entities:
release_date 20 32 COLNAME
df 65 67 VARNAME
----------
Error:  Didn't detect the column name

"#Couldn't extract column names, replacing with default\ndf.plot.line(x='xxx', y='yyy', color=None, title='CustomTitle', labels={'xxx':'xxx', 'yyy':'yyy'})"

In [5]:
cg.generate_code("show release_date & youtube_avg_watch_duration of df in a line plot", debug=True)

Intent: line chart of column1 and column2 of df  Intent_id: 13  Similarity 0.8588614
Entities:
release_date 5 17 CARDINAL
df 50 52 VARNAME
----------
Error:  Didn't detect the column name

"#Couldn't extract column names, replacing with default\ndf.plot.line(x='xxx', y='yyy', color=None, title='CustomTitle', labels={'xxx':'xxx', 'yyy':'yyy'})"

In [5]:
cg.generate_code("show release_date & youtube_avg_watch_duration of df in a bar plot", debug=True)

Intent: barplot $colname and $colname columns of $varname  Intent_id: 7  Similarity 0.89604545
Entities:
release_date 5 17 CARDINAL
df 50 52 VARNAME
----------
Error:  Didn't detect the column name

"#Couldn't extract column names, replacing with default\npx.bar(x='xxx',y='yyy',data_frame=df,title='CustomTitle', labels={'xxx':'xxx','yyy':'yyy'})"

In [6]:
cg.generate_code("show release_date & youtube_avg_watch_duration of df in a bar plot", debug=True)

Intent: barplot $colname and $colname columns of $varname  Intent_id: 7  Similarity 0.8960455
Entities:
release_date 5 17 CARDINAL
df 50 52 VARNAME
----------
Error:  Didn't detect the column name

"#Couldn't extract column names, replacing with default\npx.bar(x='xxx',y='yyy',data_frame=df,title='CustomTitle', labels={'xxx':'xxx','yyy':'yyy'})"

In [7]:
cg.generate_code("switch to dark theme", debug=True)

Intent: switch to dark theme  Intent_id: 17  Similarity 0.9999999
Entities:
----------

"import plotly.io as pio\npio.templates.default = 'plotly_dark'"